.item-horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--grey2);
}
.item-horizontal__img {
    padding-right: 15px;
}
.item-horizontal__img .img {
    border-radius: 4px;
}
.item-horizontal__content {
    padding-left: 15px;
}
.item-horizontal .title-block {
    margin-top: 0
}